<html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src = "angular.js"></script>
<script src = "angular-route.js"></script>
<!-- <script src="angular.js"></script> -->
<!-- <script src="angular-route.js"></script> -->
<script src="retrieve.js"></script>


<body ng-app="myApp" >
<div ng-init="name='';ciso='';capital='';phone='';currency='';firstName='';countrylist=[]" ng-controller="myCtrl">

<p>COUNTRY <input type="text" ng-model="firstName" name="textId1" id="textId"></p>
<ul>
	<li ng-repeat="x in countrylist | filter : firstName">
	<a ng-href='#/countryDetails/{{x}}' ng-click='changex(x)'>{{x}}</a>
	</li>
</ul>
<p>You wrote: {{ firstName }}</p>
<p>country name: {{name}}</p>
<p>country ISO: {{ciso}}</p>
<p>country capital: {{capital}}</p>
<p>country phone: {{phone}}</p>
<p>country Currency: {{currency}}</p>
<div ng-view></div>
</div>

<script type = "text/ng-template" id = "details.htm">
            <h2> Country Details</h2>
            <ul>
            	<li>{{name1}}</li>
            	<li>{{iso1}}</li>
            	<li>{{capital1}}</li>
            	<li>{{phone1}}</li>
            	<li>{{currency1}}</li>
            </ul>
            </script>
</body>
</html>

