<html>

<head>
    <title>Node.js</title>
    <script src="lib/angular.js"></script>
    <script src="main.js"></script>
</head>
<body ng-app="myApp" ng-controller="myCtrl">
	<input type="text" id="id" ng-model="id" placeholder="Id"><br><br>
	<input type="text" id="language" ng-model="language" placeholder="Language"><br><br>
	<textarea rows="4" cols="30" ng-model="snippet" placeholder="Code snippet"></textarea><br><br>
	<button ng-click="getMethod()" >Get Method</button><br><br>
	<button ng-click="postMethod()" >Post Method</button><br><br>
	<button ng-click="delMethod()" >Del Method</button><br><br>
	<button ng-click="putMethod()" >Put Method</button><br><br>

<div id="result"></div>

</body>
</html>